:root {
--ff-primary: 'Outfit', sans-serif;

font-size: 62.5%;
--fs-body: 1.5rem;
--fs-title: 2.2rem;

--clr-white: hsl(0, 0%, 100%);
--clr-light-gray: hsl(212, 45%, 89%);
--clr-grayish-blue: hsl(220, 15%, 55%);
--clr-dark-blue: hsl(218, 44%, 22%);
--clr-box-shadow: hsla(217, 45%, 22%, 0.5)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-light-gray);
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main-card {
  background-color: var(--clr-white);
  max-width: 32rem;
  padding: 1.6rem;
  border-radius: 2rem;
  text-align: center;
  transition: 350ms ease;
  box-shadow: .1rem .5rem 1rem var(--clr-box-shadow);
}

.main-card:hover {
  box-shadow: .1rem .5rem 1rem var(--clr-dark-blue);
  
}

.card-img {
  max-width: 100%;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.card-title {
  color: var(--clr-dark-blue);
  font-size: var(--fs-title);
  font-weight: 700;
}

.card-text {
  color: var(--clr-grayish-blue);
  font-size: var(--fs-body);
  font-weight: 400;
  padding: 2rem;
  letter-spacing: 0.01rem;
}