@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #080808;
  color: white;
  text-align: center;
}

strong {
  color: #FFFF05;
}

button {
  background-color: gold;
  color: black;
  font-size: 1.3rem;
  border: none;
  font-family: inherit;
  padding: 1rem;
  transition: border-radius 250ms ease-in;
  margin-block: 2rem;
}

button:focus,
button:hover {
  opacity: .7;
  border-radius: 20px;
}

section {
  text-align: left;
}

.green {
  background-color: rgb(73, 224, 73);
  color: darkgreen;
}

.red {
  background-color: rgb(230, 123, 123);
  color: darkred;
}

.orange {
  background-color: gold;
  color: darkgoldenrod;
}