:root {
  --ff-default: 'Roboto', sans-serif;

  --fw-normal: 400;
  --fw-bold: 700;
  --fw-black: 900;

  font-size: 62.5%; /* 1rem = 10px */
  --fs-normal: 2.1rem;
  --fs-medium: 3.6rem;
  --fs-title: 4.8rem;

  --clr-dark-green: #23424A;
  --clr-medium-green: #136C72;
  --clr-white: white;
  --clr-light-white: rgba(255, 255, 255, 0.85);
  --crl-purple: #87629A;
  --clr-contrast: #38CFD9;
  --clr-dark-grey: #3A3A3A;
}
 /* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-default);
  font-weight: var(--fw-normal);
  color: var(--clr-white);
}

section {
  padding: 10rem 0;
}

h1 {
  font-size: var(--fs-title);
  font-weight: var(--fw-black);
  margin-bottom: 4rem;
}

h2 {
  font-size: var(--fs-medium);
  font-weight: var(--fw-black);
  margin-bottom: 2rem;
}

p {
  font-size: var(--fs-normal);
  font-weight: var(--fw-normal);
  color: var(--clr-white)
}

.button {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--clr-contrast);
  color: var(--clr-dark-green);
  font-size: var(--fs-normal);
  font-weight: var(--fw-bold);
  padding: 1.6rem 4.8rem;
  border: none;
  border-radius: 3.1rem;
  cursor: pointer;
}

.button:hover {
  opacity: .7;
  transition: 300ms ease-in;
}

.container {
  width: 80%;
  max-width: 110rem; /*1100px*/
  margin: 0 auto;
}

.row {
  display: flex;
  gap: 1rem;
}

.col {
  width: 100%;
  text-align: center;
}

.hero {
  background-color: var(--clr-dark-green);
}

.hero p {
  color: var(--clr-light-white);
  margin-bottom: 4rem;
}

.hero-content {
  width: 60%;
}

.section-two p{
  color: var(--clr-dark-grey);
}

.section-two h2 {
  color: var(--crl-purple);
}

.section-three {
  background-color: var(--clr-medium-green);
}